:root {
    --cardinal: rgb(158, 29, 53);
    --rusty-red: rgb(185, 56, 49);
    --oxford-blue: rgb(9, 13, 33);
    --fulvous: rgb(225, 120, 37);
    --snow: rgb(250, 250, 250);
}

p,
a {
    font-size: medium;
    font-family: "Alegreya", serif;
    font-weight: 500;
    margin: 0;
}

html {
    width: 100%;
}

h1 {
    padding: 0px;
    margin: 0px;
}

h4 {
    margin: 0;
}

header {
    background-color: var(--rusty-red);
    padding-left: 1vw;
    color: white;
}

footer {
    display: flex;
    padding-left: 1vw;
    background-color: var(--rusty-red);
    flex-direction: column;
    margin-top: 2vh;
    height: fit-content;
    color: white;
    align-items: flex-start;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown {
    position: absolute;
    right: 1em;
    top: 1em;
}

nav {
    display: none;
}

nav a {
    text-decoration: none;
    font-size: larger;
}

h3 {
    text-align: center;
    margin: 0;
}

button {
    border-radius: 5px;
    width: 10rem;
}

#social-media {
    display: flex;
    /* align-items: left; */
}

#social-media img {
    margin: 1vh;
    width: 4vh;
    height: 4vh;
}

#logo-container {
    display: flex;
    justify-content: left;
}

#logo {
    width: 200px;
    height: 200px;
}

.member-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
    margin-right: 1em;
}

.member-grid .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background-color: lightgray;
    box-sizing: border-box;
    border: 1px var(--oxford-blue) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    padding: 1em;
}

.list .member-card {
    background-color: lightgray;
    box-sizing: border-box;
    border: 1px var(--oxford-blue) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    width: 100%;
    font-size: 10px;
    margin: 0;;
}

.member-grid div:first-child {
    margin-top: 2em;
}

.member-card p {
    text-align: center;
    font-size: 1.15em;
}

.member-card img {
    width: 10vh;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.25rem;
}

.list div>* {
    margin: 0 1rem;
}

.list div img {
    display: none;
}

.list div h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list div:nth-child(even) {
    background-color: #bed;
}


.menu {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bed;
    text-align: center;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

.member-name-hidden {
    display: none;
}

.member-name-show {
    display: block;
}


.card {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    background-color: lightgray;
    box-sizing: border-box;
    border: 1px var(--oxford-blue) solid;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rusty-red);
    height: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card-header h3 {
    margin: 0;
    font-size: x-large;
    font-weight: 900;
}

.card-content {
    padding: 1em;
}

.card-content p {
    font-size: 1.5em;
}

#weather-current {
    display: flex;
    justify-content: center;
    left: 1em;
    top: 1em;
}

#weather-current :last-child {
    grid-column: span 2;
}

.main-grid {
    display: grid;
}

#hero-image {
    width: 100%;
    height: 100%;
}


#home {
    font-size: 2em;
    text-align: left;
    margin: 0;
    padding-left: .5em;
}

form {
    display: grid;
}

label {
    margin-top: 1em;
    margin-left: 2vh;
    font-size: 1.2em;
}

input,
select {
    margin-bottom: 1em;
    height: 32px;
    margin-left: 2vh;
    width: 75%;
    font-size: 1.25em;
}

.input-field {
    background-color: white;
    border-radius: 3px;
}

.input-field:required {
    border-left: 8px solid var(--rusty-red);
}

.input-field:optional {
    border-left: 8px solid var(--oxford-blue);
}

textarea {
    height: 64px;
    margin-bottom: 1em;
    margin-left: 2vh;
    width: 75%;
}

dialog[open] {
    background-color: var(--rusty-red);
    animation: fadeIn .5s;
    width: max-content;
    /* color: var(--rusty-red); */
}

.modal-content {
    background: white;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    /* background-color: var(--rusty-red); */
}

.modal-card {
    border: 3px solid black;
    margin: 1em;
}

#info-icon {
    width: 25px;
    height: 25px;
    margin-right: 10%;
}

#membership-dropdown {
    display: flex;
    align-items: center;
}

#membership-cards {
    display: none;
}

.hide {
    display: none;
}

.hero-container {
    position: relative;
}

#call-to-action{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    width: 60%;
    display: flex;
    align-items: flex-end;
}

#call-to-action a {
    display: inline-block;
    background-color: var(--rusty-red);
    color: white;
    padding: 0.6em 1.2em;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    align-content: center;
}
  
#call-to-action a:hover {
    transform: scale(1.05);
}

#call-to-action a:active {
    transform: scale(0.97);
}

dialog {
    width: 100%;
}

.thankyou {
    text-align: left;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.discover-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.discover-card {
    display: grid;
    grid-template-areas: 
    "name"
    "address"
    "image"
    "description"
    "cost"
    "button";
    background-color: rgb(236, 236, 236);
    padding: 1rem;
    border: 2px solid black;
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: fit-content;
    height: 500px;
    min-height: 500px;
}

.discover-card h2 {
    grid-area: name;
    padding-left: .25rem;
    padding-right: .25rem;
    padding-top: 1rem;
    margin: 0;
}

.discover-card figure {
    grid-area: image;
    margin: 0;
    width: min-content;
    padding: .5rem .25rem;
}

.discover-card figure img {
    width: 300px;
    height: 200px;
}
  

.discover-card figcaption {
    font-size: .90rem;
}

.discover-card p {
    grid-area: description;
    font-size: 1.15rem;
    padding: .5rem .25rem;
}

.discover-card address {
    grid-area: address;
    padding: 0 .25rem;
}

.discover-card button {
    grid-area: button;
    align-items: center;
    background-color: var(--rusty-red);
    border: 2px solid #111;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1.25rem;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
}

.discover-modal {
    width: 75%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.discover-modal p {
    color: white;
}