:root {
    --cardinal: rgb(158, 29, 53);
    --rusty-red: rgb(186, 56, 49);
    --oxford-blue: rgb(9, 13, 33);
    --fulvous: rgb(225, 120, 37);
    --snow: rgb(250, 250, 250);
}

p, a, h1, h2, h3, h6 {
    font-size: medium;
    font-family: "Alegreya", serif;
    font-weight: 500;
    margin: 0;
}

html {
    width: 100%;
}

h1 {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: var(--rusty-red);
    padding-left: 1vw;
    color: white;
}

footer {
    display: flex;
    padding-left: 1vw;
    background-color: var(--rusty-red);
    flex-direction: column;
    margin-top: 2vh;
    height: fit-content;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown {
    position: absolute;
    right: 1em;
    top: 1em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    display: none;
}

nav a {
    text-decoration: none;
    font-size: larger;
}

h3 {
    text-align: center;
}

button {
    border-radius: 5px;
    width: 10rem;
}

#social-media {
    display: flex;
    /* align-items: left; */
}

#social-media img {
    margin: 1vh;
    width: 4vh;
}

#logo {
    display: flex;
    align-items: end;
}

#logo * {
    margin: .2em;
}

#logo img {
    width: 200px;
}

.member-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 1em;
    margin-right: 1em;
}

.member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    background-color: lightgray; 
    box-sizing: border-box;
    border: 1px var(--oxford-blue) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    padding: 1em;
}

.member-grid div:first-child {
    margin-top: 2em;
}

.member-card p {
    text-align: center;
    font-size: 1.15em;
}

.member-card img {
    width: 10vh;
}

.list {
	display: flex;
	flex-direction: column;
}

.list div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 0;
    margin-bottom: 0;
	padding: 0.25rem;
}

.list div > * {
	margin: 0 1rem;
}

.list div img {
	display: none; /* smaller viewports only */
}

.list div h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list div:nth-child(even) {
	background-color: #bed;
}


.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.member-name-hidden {
    display: none;
}

.member-name-show {
    display: block;
}


.card {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    background-color: lightgray; 
    box-sizing: border-box;
    border: 1px var(--oxford-blue) solid;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rusty-red);
    height: 3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.card-header h3 {
    margin: 0;
    font-size: x-large;
    font-weight: 900;
}

.card-content {
    padding: 1em;
}

.card-content p {
    font-size: 1.5em;
}

#weather-current {
    display: flex;
    justify-content: center;
    left: 1em;
    top: 1em;
}

#weather-current :last-child {
    grid-column: span 2;
}

.main-grid {
    display: grid;
}

#hero-image {
    display: flex;
    justify-content: center;
}

#hero-image img {
    width: 98%;
    height: 20em;
}

#home {
    font-size: 3.2em;
    text-align: left;
    margin-left: .25em;
    margin-top: 1em;
}